* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: calc(100vh - 56px); /* Adjust height to prevent overlap with navbar */
    background-color: rgb(197, 216, 225);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: "Rubik", sans-serif;
}

form {
    background-color:  rgb(197, 216, 225);
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
}

form h3 {
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
}

form input,
form textarea,
form select {
    border: 0;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    background-color: white;
    font-size: 14px;
}

form button {
    padding: 10px 20px;
    background-color: rgb(231, 111, 111);
    color: white;
    font-size: 16px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 50%;
    margin: 20px auto 0;
    border-radius: 20px;
}

nav {
    background-image: linear-gradient(#3636ff, #6868fc);
    width: 100%;
    height: 56px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}

.logo {
    display: none; /* Hide the logo */
}

.navbarlist {
    margin: 0;
    padding: 0;
    float: right;
    height: 100%;
}

li {
    display: inline;
}

li a {
    display: inline-block;
    color: white;
    padding: 14px 10px; /* Decrease padding to fit more text */
    text-decoration: none;
    font-family: Rubik;
    font-size: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    font-family: "Rubik", sans-serif;
}
body {
    font-family: "Rubik", sans-serif;
}

  input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }

